
@charset "utf-8";

body{
    overflow-x: hidden;
    background-color: #00ccff;
/*    background-image: url('../bgpattern.png');*/
/*    background-repeat: repeat;*/
}

/*--------------------------------------------------
  Materializeに追加
--------------------------------------------------*/

.parallax-container {
  height: 300px;
}

.material-icons.bluish {
    color: #00e6b8;
}

/*--------------------------------------------------
  GLOBAL NAVIGATION
--------------------------------------------------*/



/*--------------------------------------------------
  CONTENTS
--------------------------------------------------*/

/* diagonal separator */

:root {
  --width: 100vw;
  --height: 8vw;
  --top-color: transparent;
  --bottom-color: white;
}

.separator {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--height) var(--width) 0 0;
  border-color: var(--top-color) var(--bottom-color) transparent transparent;
}

.separatorEnd {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--height) var(--width) 0 0;
  border-color: var(--bottom-color) var(--top-color) transparent transparent;
}

.image.above section header p{
  font-size: 7.5em;
  font-weight: 500;
  color: white;
  margin: 0 0 -1.3em;
}

/*--------------------------------------------------
  FOOTER
--------------------------------------------------*/

/* Sticky Footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }