
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Loved+by+the+King|Roboto);

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #00ccff;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

main {
  flex: 1 0 auto;
}

/*--------------------------------------------------
  Materializeに追加
--------------------------------------------------*/

.parallax-container {
  height: 300px;
}

.material-icons.bluish {
    color: #00e6b8;
}

/*--------------------------------------------------
  DIAGONAL SEPARATOR
--------------------------------------------------*/

:root {
  --width: 100vw;
  --height: 8vw;
  --top-color: transparent;
  --bottom-color: white;
}

.separator {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--height) var(--width) 0 0;
  border-color: var(--top-color) var(--bottom-color) transparent transparent;
}

.separatorEnd {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--height) var(--width) 0 0;
  border-color: var(--bottom-color) var(--top-color) transparent transparent;
}

.image.above section header p{
  font-size: 7.5em;
  font-weight: 500;
  color: white;
  margin: 0 0 -1.3em;
}

/*--------------------------------------------------
  CONTENTS
--------------------------------------------------*/

h3{
  color: #fff;
  text-shadow: .030em .030em #00ccff, .08em .08em #acc0c4;
}

.white h3{
  color: #212121;
  text-shadow: .030em .030em #fff, .08em .08em #78e2d6;
}

p.subtitle{
  display: inline-block;
  color: #888;
  margin: 0 5px 15px;
}

.search{
    height: 50px;
}
.search li{
    display: inline-block;
    margin-right:45px;
}
.search li:last-child{
    margin-right:0;
}
.works{
  width: 180px;
  height: 220px;
  margin: 15px 30px 15px 0;
  float: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.works:last-child{
  margin: 15px 0;
}

.thumbnail{
  width: 90%;
  height: 150px;
  margin: 10px auto 0;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.caption{
  color: #555;
  width: 80%;
  margin: 0 auto;
  font-family: 'Loved by the King', cursive;
  font-size: 1.5em;
}

.mytags li{
  display: inline-block;
  border: 1px solid #ccc;
  padding-right: 5px;
}
.mytags i{
  margin: 0 2px 0 5px;
  vertical-align: middle;
}

.sns-list li{
  display: inline-block;
  font-size: 1.5em;
  margin: 0 5px;
}

.sns-list i{
  text-shadow: .030em .030em #fff, .08em .08em #78e2d6;
}


/*--------------------------------------------------
  FOOTER
--------------------------------------------------*/
